a{text-decoration:none}
a:focus{outline:0px;text-decoration:none;}
.respuesta{color:blue; font-weight:bold; font-size:30px; text-align: center;}
th, td{text-align:center;}


* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

