/*
    Pizza Template
    http://www.templatemo.com/preview/templatemo_459_pizza
*/

body
{
  background-color: white;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  position: relative;
}

h1,h2, h3, h4,
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav>li>a:focus
{        
	color: #555	;
	font-family: 'GeosansLight';
}

.collapse .navbar-collapse
{
	font-family: 'fira_sanslight';
}
#conIzq
{
    background-color: white;
    padding-top: 5px;
}

input, textarea
{
	font-family: 'fira_sanslight';
}

h2, h3
{
    font-family: 'GeosansLight';
	font-size: 28px;
	color: black;
}

#logochico
{
	width: 70px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}
a:hover { text-decoration: none; }
hr
{
    border: 1px solid rgba(85, 85, 85, 0.3);
    width: 100%;
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

img
{
  height: auto;
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

/* start all section */
/* end all section */

/* start nagivation */
.navbar-default
{
  background-color: whitesmoke;
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-brand
{
  color: #555;
  font-size: 40px;
  line-height: 35px;
}
.navbar-default .navbar-nav li a
{
    line-height: 10px;
}

.collapse div
{
    margin-top: 0%;
    font-size: 40px;
    font-weight: bold;
}

li a{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    border-bottom: 1px solid black;
	padding-bottom: 5px;
	background-color: transparent;
	padding-left: 0px;
    padding-right: 0px;
	margin-right: 27px;
	margin-left: 27px;
}
.navbar-default .navbar-toggle
{
  border: none;
  padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar
{
  background: #555;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start flexslider */
.flexslider {
  margin-top: 114px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.flex-direction-nav a {
  color: #444444;
  width: 40px;
  height: 70px;
  background-color: white;
  border-radius: 3px;
  margin: -20px 0 0 0;
  text-align: center;
  line-height: 70px;
}

.flex-caption {
  position: absolute;
  top: 39%;
  width: 100%;
  text-align: center;
  z-index: 999;
  color: white;
}
.slider-title {
  font-size: 50px;
}
.slider-subtitle {
  color: #ffffff;
}
.slider-title,
.slider-subtitle {
  text-transform: uppercase;
}
.slider-description {
  font-size: 18px;
  line-height: 28px;
  padding-left: 200px;
  padding-right: 200px;
}
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
  height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 65%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
	left: -50px;
	background-color: black;
	color: white;
}

.flex-direction-nav .flex-next {
	right: -50px;
	background-color: black;
	color: white;
}

.flexslider:hover .flex-prev {
	opacity: 1;
	left:120px;
}

.flexslider:hover .flex-next {
  opacity: 1;
  right: 120px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a:before {
  font-family: "FontAwesome";
  font-size: 65px;
  display: inline-block;
  content: '\f104';
}

.flex-direction-nav a.flex-next:before {
  content: '\f105';
}

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay .flex-play:before {
  content: '\f003';
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  display: inline-block;
  zoom: 1; 
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
.flexslider {
  padding: 65px 0 0 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* end flexslider */

/* start about */
.padding-bottom-10
{
  padding-bottom: 10px;
}
.img-bordered
{
  border: 2px solid #f2f2f2;
  padding: 14px;
}
/* end about */

/* start gallery */

.templatemo-light-gray-bg
{
  background: #f9f9f9;
}
.gallery-wrapper
{
  background: #ffffff;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.gallery-wrapper:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery-des
{
  padding: 0 20px 14px 20px;
}
.gallery-img {
  margin: 0 auto;
}
/* end gallery*/
.example-image{opacity: 0.5;}

.example-image:hover { opacity: 1; }
.hidden
{
	display:none;
}
.lb-outerContainer
{
    border-radius: 0px !important;
}
	/* start contact */
#contact
{
    background-size: 100%;
    background-position-y: -78px;
    background-color: #F3F3F1;
    padding-top: 8%;
    padding-bottom: 8%;
}

#contact .container
{
}

.puntosVenta
{
	font-size: 13px;
	font-style: italic;
	margin-left: 3%;
}

.tipografia
{
	font-family: 'fira_sanslight';
}
.map
{
  height: 300px;
}
.contact-fa
{
  color: #202020;
  font-size: 18px;
  padding-right: 10px;
}
.contact-link { color: #F0A00E; }
.form-control
{
  border: 2px solid #f2f2f2;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.form-control:focus,
.form-control:active
{
  border-color: #555;
}
input
{
  height: 50px;
}
input[type="submit"]
{
  font-weight: bold;
  margin-bottom: 80px;
  margin-top: 7px;
  color: #555;
}
input[type="submit"]:hover
{
  background: #555;
  color: #ffffff;
}
.form-control::-moz-placeholder {
  color: #666;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #666;
}
.form-control::-webkit-input-placeholder {
  color: #666;
}
/* end contact */

/* start footer */
footer
{
  background: #202020;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* end footer */

/* start social icon */
.social-icon
{
  position: relative;
  padding: 0;
  margin: 0;
}
.social-icon li
{
  display: inline-block;
  list-style: none;
}
.social-icon li a
{
  color: #666;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.social-icon li a:hover
{
  background: #555;
  color: #ffffff;
}

.contenedor
{
	background-color: white;
	width: 100%;
	height: 100px;
}

.contenedor p
{
	font-family:"GeosansLight";
    color: black;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
	background-color: white;
	font-size: 30px;
}

.contenedor p span
{
    font-weight: 100;
}

.slides img
{
	width: 75%;
}

.tablaServicios{
	width: 100%;
	height: 400px;
    margin: 0 auto;
}
.tablaServicios	td{
	width: 600px;
	vertical-align: top;
    padding: 2px;
}

.punto
{
    width: 90%;
    margin-top: 20%;
}

.tablaServiciosDos{
	height: 400px;
	width: 400px;
    margin: 0 auto;
}

.tablaServiciosDos td{
	height: 25px;
	width: 25px;
}
/* end social icon */
.navbar .navbar-nav {
	font-weight: bold;
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 11px;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default .navbar-nav li a
{
    margin: 0px 12px 0px 12px;
}
.flipH {
-moz-transform: scaleX(-1); /* Firefox */
-o-transform: scaleX(-1); /* Opera */
-webkit-transform: scaleX(-1); /* Chrome y Safari */
transform: scaleX(-1); /* w3org */
filter: FlipH; /* Internet Explorer */
}
/********************************
IPAD LANDSCAPE (1024x768)
********************************/
/********************************
IPAD PORTRAIT (768x1024)
********************************/
@media only screen and (max-width: 1340px) {
 .primerH2{line-height: 35px!important;}
  #conIzq{height: 625px;}
}
@media only screen and (max-width: 1000px) {
	#contact{
	    background: #F3F2F0;
	}
	.punto
	{
		display:none;
	}
}
@media only screen and (max-width: 960px) {
  .flex-caption { top: 20%; }
  .slider-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .slider-description {
    font-size: 16px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
  }
  #conIzq{height: 625px;}
}

@media only screen and (max-width: 900px) {
	.flexslider:hover .flex-prev {
		opacity: 1;
		left:60px;
	}

	.flexslider:hover .flex-next {
	  opacity: 1;
	  right: 60px;
	}
}

@media only screen and (max-width: 768px) {
 .navbar-default .navbar-brand {
  font-size: 35px;
  padding-top: 10px;
}  
}
/********************************
IPHONE 4-4S-5 LANDSCAPE (568x320)
********************************/
@media only screen and (max-width: 760px) {
	.flexslider { padding: 50px 0 0 0; }
	.flex-caption { display: none; }
	.flex-direction-nav a { top: 60%; }
	.templatemo-section {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#logochico{width: 35px;}	  
	.contenedor p{padding: 37px 10px 10px 10px;}
	.contenedor{margin-bottom: 2%;}
	#conIzq{margin-left: 0%;}
	li{float: left;}
}
@media only screen and (max-width: 480px) {
	.contenedor{ margin-bottom: 40%;}
	.primerH2{line-height: 35px!important;}
    #conIzq{height: 655px;}
}

@media only screen and (max-width:360px) {
	.navbar-default .navbar-brand { padding-top: 6px; }
	.img-about { margin-top: 40px; }
    #conIzq{height: 725px;}
}
/********************************
IPHONE 4-4S-5 PORTRAIT (320x568)
********************************/